<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!-- Actuator Settings Panel -->
    <add key="textBoxActuatorSettingsSpeedOne" value="" />
    <add key="textBoxActuatorSettingsSpeedTwo" value=""/>
    <add key="textBoxActuatorSettingsSpeedThree" value="" />
    <add key="textBoxActuatorSettingsMicroSpeedOne" value=""/>
    <add key="textBoxActuatorSettingsMicroSpeedTwo" value="" />
    <add key="textBoxActuatorSettingsMicroSpeedThree" value="" />
    <add key="textBoxActuatorSettingsAccelerationOne" value="" />
    <add key="textBoxActuatorSettingsAccelerationTwo" value=""/>
    <add key="textBoxActuatorSettingsAccelerationThree" value="" />
    <add key="textBoxActuatorSettingsDecelerationOne" value="" />
    <add key="textBoxActuatorSettingsDecelerationTwo" value="" />
    <add key="textBoxActuatorSettingsDecelerationThree" value="" />

    <!--<add key="textBoxActuatorSettingsMinEdgeOne" value="" />
    <add key="textBoxActuatorSettingsMaxEdgeOne" value=""/>
    <add key="textBoxActuatorSettingsMinEdgeTwo" value="" />
    <add key="textBoxActuatorSettingsMaxEdgeTwo" value="" />
    <add key="textBoxActuatorSettingsMinEdgeThree" value="" />
    <add key="textBoxActuatorSettingsMaxEdgeThree" value="" />-->

    <!-- Connection Settings Panel -->
    <add key="comboBoxConnectionSettingsDeviceOneSelectedIndex" value="" />
    <add key="comboBoxConnectionSettingsDeviceTwoSelectedIndex" value="" />
    <add key="comboBoxConnectionSettingsDeviceThreeSelectedIndex" value="" />

    <!-- Move Relatively Panel -->
    <add key="comboBoxMoveRelativelyDeviceOneSelectedIndex" value="" />
    <add key="comboBoxMoveRelativelyDeviceTwoSelectedIndex" value="" />
    <add key="comboBoxMoveRelativelyDeviceThreeSelectedIndex" value="" />
    <add key="textBoxMoveRelativelyToStepsOne" value="" />
    <add key="textBoxMoveRelativelyToMicroStepsOne" value="" />
    <add key="textBoxMoveRelativelyToStepsTwo" value="" />
    <add key="textBoxMoveRelativelyToMicroStepsTwo" value="" />
    <add key="textBoxMoveRelativelyToStepsThree" value="" />
    <add key="textBoxMoveRelativelyToMicroStepsThree" value="" />
    <add key="textBoxMoveRelativelyToStepsOneDevice" value="" />
    <add key="textBoxMoveRelativelyToMicroStepsOneDevice" value="" />
    <add key="textBoxShiftToStepsOneDevice" value="" />
    <add key="textBoxShiftToMicroStepsOneDevice" value="" />

    <!-- Software safety limits for actuator -->
    <add key="Axis_X_MinEdgeStepsPosition" value="" />
    <add key="Axis_X_MaxEdgeStepsPosition" value="" />
    <add key="Axis_X_HomeStepsPosition" value="" />

    <add key="Axis_Y_MinEdgeStepsPosition" value="" />
    <add key="Axis_Y_MaxEdgeStepsPosition" value="" />
    <add key="Axis_Y_HomeStepsPosition" value="" />

    <add key="Axis_Z_MinEdgeStepsPosition" value="" />
    <add key="Axis_Z_MaxEdgeStepsPosition" value="" />
    <add key="Axis_Z_HomeStepsPosition" value="" />

    <add key="minEdgePositionStepsAllDevices" value="0" />
    <add key="maxEdgePositionStepsAllDevices" value="15000" />
    <add key="homePositionStepsAllDevices" value="0" />

    <!-- Image processing settings-->
    <add key="sliderImageProcessingSettingsPrecision" value=""/>
    <add key="sliderImageProcessingSettingsStaticThreshold" value=""/>
    <add key="sliderImageProcessingSettingsQuality" value=""/>
    <add key="sliderImageProcessingSettingsBrightness" value=""/>
    
    <!-- Image distance calibration-->
    <add key="MilimetersPerPixel" value="0" />
    <add key="StepsPerPixel" value="0" />
    
  </appSettings>
</configuration>